.u-section-1 .u-sheet-1 {
    min-height: 878px;
  }
  
  .u-section-1 .u-image-1 {
    height: 48px;
    width: 440px;
    margin: 0 -50px;
  }
  
  .u-section-1 .u-image-2 {
    height: 557px;
    width: 400px;
    margin: 20px -30px 0;
  }
  
  .u-section-1 .u-image-3 {
    height: 57px;
    width: 387px;
    margin: 4px -532px 0 485px;
  }
  
  .u-section-1 .u-image-4 {
    height: 101px;
    width: 340px;
    margin: 20px -340px 0 340px;
  }
  
  .u-section-1 .u-image-5 {
    width: 368px;
    height: 142px;
    margin: 20px -513px 0 485px;
  }
  
  .u-section-1 .u-image-6 {
    height: 69px;
    width: 282px;
    margin: 20px -427px 0 485px;
  }
  
  .u-section-1 .u-image-7 {
    height: 50px;
    width: 440px;
    margin: 20px -585px 0 485px;
  }
  
  .u-section-1 .u-image-8 {
    width: 369px;
    height: 142px;
    margin: 20px -514px 0 485px;
  }
  
  .u-section-1 .u-image-9 {
    width: 132px;
    height: 137px;
    margin: 20px -277px 0 485px;
  }
  
  .u-section-1 .u-image-10 {
    width: 190px;
    height: 65px;
    margin: 20px -335px 1px 485px;
  }
  
  .u-section-1 .u-image-11 {
    height: 55px;
    width: 387px;
    margin: 61px -24px 60px;
  }
  
  .u-section-1 .u-image-12 {
    width: 170px;
    height: 137px;
    margin-left: 0;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-image-3 {
      margin-top: -302px;
      margin-left: -24px;
      margin-right: -24px;
    }
  
    .u-section-1 .u-image-4 {
      margin-top: 265px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-image-5 {
      margin-top: -274px;
      margin-left: -14px;
      margin-right: -14px;
    }
  
    .u-section-1 .u-image-6 {
      margin-top: 145px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-image-7 {
      margin-top: 0;
      margin-left: -50px;
      margin-right: -50px;
    }
  
    .u-section-1 .u-image-8 {
      margin-top: -406px;
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .u-section-1 .u-image-9 {
      margin-top: -506px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-image-10 {
      margin: 13px auto 0;
    }
  
    .u-section-1 .u-image-11 {
      height: 59px;
      margin-left: -23px;
      margin-right: -23px;
      margin-bottom: 0;
    }
  
    .u-section-1 .u-image-12 {
      width: 123px;
      height: 99px;
      margin: 55px 33px 0 auto;
    }
  
    .u-section-1 .u-btn-1 {
      border-style: none;
      margin: -28px 29px 60px auto;
      padding: 1px 60px 2px 59px;
    }
  }