.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }
  
  .u-section-1 .u-image-1 {
    width: 570px;
    height: 990px;
    margin: 4px 282px 0 auto;
  }
  
  .u-section-1 .u-image-2 {
    width: 376px;
    height: 111px;
    margin: -495px auto 60px;
  }
  
  .u-section-1 .u-shape-1 {
    width: 427px;
    height: 64px;
    margin: 224px auto 60px -37px;
  }
  
  .u-section-1 .u-image-3 {
    width: 416px;
    height: 45px;
    margin: 63px -38px 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-image-1 {
      margin-right: 150px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-image-1 {
      width: 540px;
      height: 938px;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-2 {
      margin-top: -443px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-image-1 {
      height: 719px;
      width: 415px;
      margin-top: 0;
      margin-left: -37px;
      margin-right: -37px;
    }
  
    .u-section-1 .u-image-2 {
      height: 81px;
      width: 265px;
      margin-top: -359px;
      margin-bottom: 0;
    }
  
    .u-section-1 .u-shape-1 {
      margin: 221px -43px 0;
    }
  
    .u-section-1 .u-image-3 {
      margin-top: 25px;
    }
  
    .u-section-1 .u-btn-1 {
      border-style: none;
      margin: -436px auto 60px 58px;
      padding: 28px 104px 30px 103px;
    }
  }
  
  body, html {
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
    font-family: 'Trebuchet MS';
  }
  
  @media only screen and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) , screen and (-webkit-device-pixel-ratio:1.5){
    .Container {
        width: 90%;
        min-width: 480px;
        margin: auto;
    }
  
    header {
        width: 100%;
        height: 150px;
        line-height: 150px;
        background-color: #313131;
    }
  
        header span {
            color: #fff;
            font-size: 35px;
            padding-left: 20px;
        }
  
    nav {
        width: 100%;
        height: 70px;
        background-color: #ff6a00;
    }
  
    .content {
        width: 100%;
        height: 900px;
        clear:both;
        padding: 10px 0px;
        background-color: #fff;
        font-size:35px;
    }
  
    footer {
        width: 100%;
        height: 80px;
        background-color: #808080;
        margin-bottom: 20px;
    }
  
    .main_articles {
        width: 95%;
        float: left;
        height: auto;
        margin:auto;
    }
  
    .side_article {
        display: none;
        visibility: hidden;
    }
  
    .siteDescription {
        width: 95%;
        height: auto;
        display: block;
        margin:auto;
    }
  
    .desImage {
        margin: auto;
        width: 100%;
        height: auto;
    }
  
        .desImage img {
            width: 100%;
            height: 100%;
            margin-left: 5px;
            border: 2px solid #6d6d6d;
        }
  
    .des {
        margin: auto;
        margin-top: 10px;
        width: 100%;
        height: 300px;
        background-color: #d9d9d9;
        padding: 5px;
    }
  }